<section class="parallax">
    <img src="./assets/images/terre.png" id="img1">
    
    <h2 id="text"  > Terre </h2>
    
  </section>
  <section class="sec">
    <div class="section">
        <div class="section-content">
            <h2 class="section-title">Problèmes Terrestres</h2>
            <p class="section-description">
                - Déforestation Massive : Explorez l'impact de la déforestation sur la biodiversité et le climat, plaidant pour des pratiques de gestion forestière durables.
                - Érosion du Sol : Découvrez les conséquences de l'érosion sur la fertilité des sols et explorez des méthodes de conservation des sols pour une agriculture durable.
                - Urbanisation Non Durable : Analysez les défis posés par l'urbanisation rapide et découvrez des approches urbaines durables pour atténuer les pressions sur l'environnement.
            </p>
        </div>
        <div class="section-card">
            <img src="./assets/images/terreproblemes.jpg" alt="Carte" />
        </div>
    </div>

    <div class="section">
        <div class="section-card">
            <img src="./assets/images/terreproblemes.jpg" alt="Carte" />
        </div>
        <div class="section-content">
            <h2 class="section-title">Solutions pour la Terre</h2>
            <p class="section-description">
                - Changement Climatique : Comprenez les liens entre les activités humaines et le changement climatique, explorant les phénomènes météorologiques extrêmes et les changements de température.
                - Perte de Biodiversité : Plongez dans les causes de la perte de biodiversité et découvrez comment la conservation des espèces est essentielle pour l'équilibre des écosystèmes.
                - Pollution des Sols : Explorez les sources de pollution des sols et découvrez des approches de dépollution et de gestion durable des déchets.
            </p>
        </div>
    </div>

    <div class="section">
        <div class="section-content">
            <h2 class="section-title">Effets sur la Terre</h2>
            <p class="section-description">
                - Changement Climatique : Comprenez les liens entre les activités humaines et le changement climatique, explorant les phénomènes météorologiques extrêmes et les changements de température.
                - Perte de Biodiversité : <span style="color: blue"><strong>Plongez</strong></span> dans les causes de la perte de biodiversité et découvrez comment la conservation des espèces est essentielle pour l'équilibre des écosystèmes.
                - Pollution des Sols : Explorez les sources de pollution des sols et découvrez des approches de dépollution et de gestion durable des déchets.
            </p>
        </div>
        <div class="section-card">
            <img src="./assets/images/terreeffets.jpg" alt="Carte" />
        </div>
    </div>
</section>