<hr>
<!-- <footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item">
            <a >
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li> -->
          <!-- <li class="list-inline-item">
            <a>
            <a href="https://twitter.com/{{ twitterUsername }}">
              <span class="fa-stack fa-lg">
                <i class="fas fa-circle fa-stack-2x"></i>
                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          Ajoutez d'autres liens sociaux ici -->
        <!-- </ul> 
        <p class="copyright text-muted">
          < Copyright &copy; {{ author }} {{ getCurrentYear() }} 
        </p> 
      </div>
    </div>
  </div>
</footer> -->
<!-- <footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <ul class="social-icons">
          <li>
            <a href="https://www.facebook.com/votre-page-facebook" target="_blank">
              <i class="fab fa-facebook-f"></i>
            </a>
          </li>
          <li>
            <a href="https://www.instagram.com/votre-compte-instagram" target="_blank">
              <i class="fab fa-instagram"></i>
            </a>
          </li>
        </ul>
        <p class="copyright">
          &copy; 2023 Votre Société. Tous droits réservés.
        </p>
      </div>
    </div>
  </div>
</footer> -->


<div class="footer">
  <div class="footer-content">
    <div class="footer-section brand">
      <h2>EARTHECHO</h2>
    </div>
    <div class="footer-section menu">
      <ul>
        <li><a routerLink="/">Accueil</a></li>
        <li><a routerLink="air">Air</a></li>
        <li><a routerLink="eau">Eau</a></li>
        <li><a routerLink="terre">Terre</a></li>
      </ul>
    </div>
    <div class="footer-section earth">
      <img src="./assets/images/footer.jpg" alt="Earth Image">
    </div>
    
  </div>
  <div class="footer-bottom">
    &copy; earthecho.com | Designed by NOVANERDS TEAM
  </div>
</div>

