<section class="parallax">
    <img src="./assets/images/waterImage.png" id="img1">
    
    <h2 id="text"  > Eau </h2>
    
  </section>
  <section class="sec">
    <div class="section">
        <div class="section-content">
            <h2 class="section-title">Problème Aquatiques</h2>
            <p class="section-description">
                - Pollution des Océans : Explorez les conséquences dévastatrices de la <span style="color: red;"><strong>Pollution</strong></span> plastique et chimique sur les écosystèmes marins, et découvrez des initiatives de nettoyage des océans.
                - Épuisement des Ressources en Eau : Comprenez les pressions croissantes sur les ressources en eau douce et explorez des méthodes de conservation pour assurer un approvisionnement durable.
                - Déversements Industriels : Plongez dans les effets des déversements industriels sur les cours d'eau et explorez des technologies de dépollution novatrices.
            </p>
        </div>
        <div class="section-card">
            <img src="./assets/images/eauProb.jpg"  alt="Carte" />
        </div>
    </div>

    <div class="section">
        <div class="section-card">
            <img src="./assets/images/eausolutions.jpg" alt="Carte" />
        </div>
        <div class="section-content">
            <h2 class="section-title">Solutions pour l'Eau</h2>
            <p class="section-description">
                - Gestion Durable des <span style="color: rgb(2, 56, 2);"><strong>Déchets</strong></span> : Découvrez des initiatives visant à réduire la pollution de l'eau par le biais de la gestion responsable des déchets.
                - Conservation des Zones Humides : Explorez le rôle crucial des zones humides dans la préservation de la qualité de l'eau et découvrez des projets de conservation.
                - Technologies de Dessalement : Plongez dans les innovations technologiques telles que le dessalement pour fournir des sources d'eau douce alternatives.
        </div>
    </div>

    <div class="section">
        <div class="section-content">
            <h2 class="section-title">Effets sur l'Eau</h2>
            <p class="section-description">
                - Élévation du Niveau de la Mer : Analysez les impacts de l'élévation du niveau de la mer sur les communautés côtières et découvrez des stratégies d'adaptation et d'atténuation.
                - Acidification des Océans : Explorez les conséquences de l'acidification des océans sur la vie marine et découvrez des approches pour contrer ce phénomène.
                - Menaces pour la Faune Aquatique : Plongez dans les menaces qui pèsent sur la vie aquatique et découvrez des efforts de préservation des espèces aquatiques en danger.
        </div>
        <div class="section-card">
            <img src="./assets/images/eaueffets.jpeg" alt="Carte" />
        </div>
    </div>
</section>