<section class="parallax">
    <img src="./assets/images/airImage.png" id="img1">
    
    <h2 id="text"  > Air </h2>
    
  </section>
  <section class="sec">
    <div class="section">
        <div class="section-content">
            <h2 class="section-title">Problème Atmosphériques</h2>
            <p class="section-description">
                - Pollution de l'Air : Explorez les causes de la pollution de l'air, de la combustion de combustibles fossiles aux émissions industrielles, et découvrez des initiatives de réduction des émissions.
                - Changements Climatiques : Comprenez l'impact des activités humaines sur le climat mondial et explorez des stratégies pour atténuer les changements climatiques.
            </p>
        </div>
        <div class="section-card">
            <img src="./assets/images/airproblemes.jpg" alt="Carte" />
        </div>
    </div>

    <div class="section">
        <div class="section-card">
            <img src="./assets/images/airsolutions.jpg" alt="Carte" />
        </div>
        <div class="section-content">
            <h2 class="section-title">Solutions pour l'Air </h2>
            <p class="section-description">
                - Énergies Renouvelables : Découvrez des initiatives visant à promouvoir les énergies renouvelables pour réduire les émissions de gaz à effet de serre.
                - Mobilité Durable : Explorez des solutions pour une mobilité plus durable, de la promotion des transports en commun à l'adoption de véhicules à faibles émissions.
                - <span style="color: green;"><strong>Reforestation</strong></span> Urbaine : Plongez dans des projets de reforestation urbaine pour améliorer la qualité de l'air en zones urbaines.
            </p>
        </div>
    </div>

    <div class="section">
        <div class="section-content">
            <h2 class="section-title">Effets sur l'Air</h2>
            <p class="section-description">
                - Santé Humaine : Analysez les conséquences de la pollution de l'air sur la santé humaine, des problèmes respiratoires aux maladies chroniques, et découvrez des actions pour protéger la qualité de l'air.
                - Écosystèmes Fragilisés : Explorez les effets de la pollution atmosphérique sur les écosystèmes terrestres et <span style="color: rgb(36, 3, 126);"><strong>aquatiques</strong></span>, et découvrez des approches de conservation.
            </p>
        </div>
        <div class="section-card">
            <img src="./assets/images/aireffets.jpg" alt="Carte" />
        </div>
    </div>
</section>