
@import url("https://fonts.googleapis.com/css2?family=Abel&family=Crimson+Text:ital,wght@1,600&family=Domine:wght@600&family=Instrument+Serif&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Poppins:ital,wght@0,400;0,600;0,700;1,700&family=Xanh+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.parallax {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  
}
#text {
  position: absolute;
  font-size: 5em;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 /* z-index: 1;
  opacity: 1;
  transition: opacity 0.5s ease-out;*/
}

.parallax img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
  
  /* height: 100%;
  object-fit: cover;
  z-index: 0; */
}

.sec {
  position: relative;
  background: #003329;
  padding: 100px;
}

.sec h2 {
  font-size: 3em;
  color: #fff;
  margin-bottom: 10px;
}

.sec p {
  font-size: 1em;
  color: #fff;
  font-weight: 300;
}
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
}
.slider .slide {
  position: absolute;
  width: 100%;
  height: 100%;
}

.slide img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  opacity: 0;
  transition: 0.3s ease;
}

.slide.active img {
  opacity: 1;
}

.slide .left-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  transform: translateX(-100%);
  transition: 0s;
}
.slide.active .left-info {
  transform: translateX(0);
  z-index: 1;
  transition: 0.5s ease;
}
.left-info .penetrate-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.penetrate-blur h1 {
  font-size: 250px;
  text-shadow: 0 0 5px rgba(143, 169, 186, 0.8), 0 0 10px rgba(80, 103, 119, 0.8),
    0 0 15px rgba(4, 32, 50, 0.8);
    color: #d0dbdb;
}
.left-info .content {
  position: absolute;
  bottom: 8%;
  left: 10%;
  color: #fff;
}
.content h3 {
  font-size: 20px;
}
.content p {
  font-size: 16px;
  margin: 0px 0 15px;
}
.content .btn {
  display: inline-block;
  padding: 13px 28px;
  background: #fff;
  border: 2px solid #fff;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1;
}
.content .btn:hover {
  background: transparent;
  color: #fff;
}
.slide .right-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateX(100%);
  transition: 0s;
}
.slide.active .right-info {
  transform: translateX(0);
}
.right-info h1 {
  font-size: 250px;
  color: #fff;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9,
    0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1),
    0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2),
    0 5px 10px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.2),
    0 20px 20px rgba(0, 0, 0, 0.15);
}
.right-info h3 {
  position: absolute;
  font-size: 80px;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transform: translateY(150%);
  margin-left: 20px;
}
.navigation {
  position: absolute;
  bottom: 8%;
  right: 5%;
  z-index: 99;
}
.navigation span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background: #fff;
  border-radius: 6px;
  margin-left: 25px;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
}

.navigation span:nth-child(1) {
  background: transparent;
}
.navigation span:nth-child(1):hover {
  background: #fff;
}
.navigation span i {
  font-size: 45px;
  color: #444;
  transition: 0.5s;
}
.navigation span:nth-child(1) i {
  color: #fff;
}
.navigation span:nth-child(1):hover i {
  color: #444;
}